<table class="tabela" *ngIf="!!Transferencias; else listaVazia">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Id</th>
    <th class="tabela__cabecalho__conteudo">Valor</th>
    <th class="tabela__cabecalho__conteudo">Destino</th>
    <th class="tabela__cabecalho__conteudo">Data</th>
  </thead>
  <tbody>
    <tr class="tabela__linha" *ngFor="let Transferencia of Transferencias">
      <td class="tabela__conteudo">{{Transferencia?.id }}</td>
      <td class="tabela__conteudo">{{Transferencia?.valor | currency}}</td>
      <td class="tabela__conteudo">{{Transferencia.destino}}</td>
      <td class="tabela__conteudo">{{Transferencia.data | date: "short"}}</td>
    </tr>
  </tbody>
</table>
<ng-template #listaVazia>
  <p style="text-align: center;" > Nenhuma operação cadastrada</p>
</ng-template>

